<section id="testimonial-area">
    <div class="container">
        <div class="row">

            <div class="col-md-8 offset-md-2 ">
                <div class="section-heading text-center">
                    <h2>A Word From Our Customers</h2>
                </div>
            </div>

        </div>
        <div class="testi-wrap" style="z-index: 0 !important;">

            <div class="client-single active position-1" data-position="position-1">
                <div class="client-img">
                    <img src="../../../assets/Img/{{home.testimonailShow[0].profileimg}}" alt="" (click)="change(1)">
                </div>
                <div class="client-comment">
                    <h3>
                        {{home.testimonailShow[0].message}}
                    </h3>
                </div>
            </div>

            <div class="client-single inactive position-2" data-position="position-2">
                <div class="client-img">
                    <img src="../../../assets/Img/{{home.testimonailShow[1].profileimg}}" alt="" (click)="change(2)">
                </div>
                <div class="client-comment">
                    <h3>
                        {{home.testimonailShow[1].message}}
                    </h3>

                </div>

            </div>

            <div class="client-single inactive position-3" data-position="position-3">
                <div class="client-img">
                    <img src="../../../assets/Img/{{home.testimonailShow[2].profileimg}}" alt="" (click)="change(3)">
                </div>
                <div class="client-comment">
                    <h3>
                        {{home.testimonailShow[2].message}}
                    </h3>

                </div>

            </div>

            <div class="client-single inactive position-4" data-position="position-4">
                <div class="client-img">
                    <img src="../../../assets/Img/{{home.testimonailShow[3].profileimg}}" alt="" (click)="change(4)">
                </div>
                <div class="client-comment">
                    <h3>
                        {{home.testimonailShow[3].message}}
                    </h3>

                </div>

            </div>

            <div class="client-single inactive position-5" data-position="position-5">
                <div class="client-img">
                    <img src="../../../assets/Img/{{home.testimonailShow[4].profileimg}}" alt="" (click)="change(5)">
                </div>
                <div class="client-comment">
                    <h3>
                        {{home.testimonailShow[4].message}}
                    </h3>

                </div>

            </div>

            <div class="client-single inactive position-6" data-position="position-6">
                <div class="client-img">
                    <img src="../../../assets/Img/{{home.testimonailShow[5].profileimg}}" alt="" (click)="change(6)">
                </div>
                <div class="client-comment">
                    <h3>
                        {{home.testimonailShow[5].message}}
                    </h3>

                </div>

            </div>

            <div class="client-single inactive position-7" data-position="position-7">
                <div class="client-img">
                    <img src="../../../assets/Img/{{home.testimonailShow[6].profileimg}}" width="40px" alt="" (click)="change(7)">
                </div>
                <div class="client-comment">
                    <h3>
                        {{home.testimonailShow[6].message}}
                    </h3>

                </div>

            </div>

        </div>
    </div>
</section>