<div class="layout overflow-hidden">
    <!-- Navigation -->
    <app-navbar></app-navbar>
    <!-- Navigation -->



    <aside class="sidebar bg-light">
        <div class="h-100" role="">
            <!-- Support -->
            <div class="h-100" id="tab-content-support" role="tabpanel">
                <div class="d-flex flex-column h-100">
                    <div class="hide-scrollbar">
                        <div class="container py-8">

                            <!-- Title -->
                            <div class="mb-8">
                                <h2 class="fw-bold m-0">Support</h2>
                            </div>

                            <!-- Search -->
                            <div class="mb-6">
                                <form action="#">
                                    <div class="input-group">
                                        <div class="input-group-text">
                                            <div class="icon icon-lg">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search">
                                                    <circle cx="11" cy="11" r="8"></circle>
                                                    <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                                                </svg>
                                            </div>
                                        </div>

                                        <input name="searchText" [(ngModel)]="this.chat.searchText" type="text" class="form-control form-control-lg ps-0" placeholder="Search messages or users" aria-label="Search for messages or users...">
                                    </div>
                                </form>
                            </div>

                            <!-- Docs -->
                            <div class="card border-0">
                                <div class="card-body">

                                    <div class="row align-items-center gx-5">
                                        <div class="col">
                                            <h4 class="mb-1">Number Of Payment {{this.chat.numberOfPayment}}</h4>
                                            <h4> Sum Of Total Payment {{this.chat.sumOfTotalPayment}}</h4>
                                        </div>

                                        <!-- <div class="col-auto">
                                                <a href="docs/index.html" class="btn btn-sm btn-icon btn-primary rounded-circle">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                                                </a>
                                            </div> -->
                                    </div>

                                </div>
                            </div>
                            <!-- Docs -->




                            <!-- <div class="accordion-item" style="margin-top: 20px;">
                                    <div class="accordion-header">
                                        <div class="row align-items-center">
                                            <div class="col">
                                                <h5>Show Yuor Status </h5>
                                                <p>Enable Online</p>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div> -->

                            <!-- Services Pages -->
                            <div class="card-list mt-8" *ngIf="this.chat.payment.length>0">
                                <div class="d-flex align-items-center mb-4 px-6">
                                    <small class="text-muted me-auto">Payment Services</small>
                                </div>

                                <!-- Payments -->
                                <div class="card border-0" *ngFor="let item of this.chat.payment">
                                    <div class="card-body">
                                        <div class="row align-items-center gx-0">
                                            <div class="col">
                                                <h4 class="mb-1">{{item.service.servicename}}</h4>
                                                <p>Price: ${{item.service.saleprice}}</p>
                                            </div>
                                            <div class="col-auto">
                                                <p>
                                                    {{item.paymentdate |date :'mediumDate'}}
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row align-items-center">
                                            <div class="col">
                                                <h5>Show Yuor Status </h5>
                                                <p>Enable Online</p>
                                            </div>
                                            <div class="col-auto" *ngIf="item.service.servicename=='Disable Active'">
                                                <div class="form-check form-switch">
                                                    <input class="form-check-input" *ngIf="item.user.isActive==0" type="checkbox" id="accordion-security-check-1" (click)="UserActive($event,this.chat.payment[0].user)">
                                                    <input class="form-check-input" checked *ngIf="item.user.isActive==1" type="checkbox" id="accordion-security-check-1" (click)="UserActive($event,this.chat.payment[0].user)">
                                                    <label class="form-check-label" for="accordion-security-check-1"></label>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- Account Pages -->
                            <div class="card-list mt-8">
                                <div class="d-flex align-items-center mb-4 px-6">
                                    <small class="text-muted me-auto">Services</small>
                                </div>

                                <!-- <div > -->
                                <div class="card border-0" *ngFor="let item of this.chat.transform(this.chat.allServices,{'servicename':this.chat.searchText},false)">
                                    <div class="card-body">
                                        <div class="row align-items-center gx-0">
                                            <div class="col">
                                                <h4 class="mb-1">{{item.servicename}}</h4>
                                                <p>Price: ${{item.saleprice}}</p>
                                            </div>
                                            <div class="col-auto">
                                                <button class="btn btn-sm btn-icon btn-primary rounded-circle" (click)="PayService(item.serviceid, item.saleprice, item.servicename)">
                                                        <!-- <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg> -->
                                                        <p style="color:white;margin: auto;">Pay</p>
                                                    </button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- </div>
    </aside> -->
        <!-- Chat -->
        <main class="main" [ngClass]="this.chat.collapse  ? 'is-visible' : ''" data-dropzone>
            <div class="container h-100">
                <app-chatempty *ngIf="this.chat.id==0"></app-chatempty>
                <app-chat-with-message *ngIf="this.chat.id!=0"></app-chat-with-message>
            </div>
        </main>
        <!-- Chat -->


        <!-- Layout -->


        <!-- Modal: Profile -->