<app-navbar></app-navbar>
<div class="chat-landing-page">
    <ul class="page-decore">
        <li class="top"><img class="img-fluid inner2" src="../../../assets/home/Images/landing/footer/2.png" alt="footer-back-img"></li>
        <li class="bottom"><img class="img-fluid inner2" src="../../../assets/home/Images/landing/footer/2.png" alt="footer-back-img"></li>
    </ul>
    <section class="landing_page_slider">
        <div class="custom-container">
            <div class="row">
                <div class="col-12">
                    <div class="landing_page_slider-main text-center">
                        <div class="landing_page_slider-contain">
                            <h1>Easy To Use Our Chat App</h1>
                            <h4><span>Desktop App</span>– Easy to use our chat app, Attractive and clean design, with many<br> Features:- Dark & light, Recent Chat And many more.......</h4>
                        </div>
                    </div>
                </div>
                <div class="animated-img-1"><img class="img-fluid slicing-img-4" src="../../../assets/home/Images/landing-page/slicing/vector.png" alt="img"><img class="img-fluid slicing-img-5" src="../../../assets/home/Images/landing-page/slicing/vector1.png" alt="img"><img class="img-fluid slicing-img-6"
                        src="../../../assets/home/Images/landing-page/slicing/vector2.png" alt="img"><img class="img-fluid slicing-img-7" src="../../../assets/home/Images/landing-page/slicing/vector2.png" alt="img"></div>
                <div class="animated-img-2">
                    <div><img class="img-fluid slicing-img-1" src="../../../assets/home/Images/landing-page/slicing/11.png" alt="img"><img class="img-fluid slicing-img-2" src="../../../assets/home/Images/landing-page/slicing/21.png" alt="img"><img class="img-fluid slicing-img-3"
                            src="../../../assets/home/Images/landing-page/slicing/22.png" alt="img"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="three-in-one-sec section-py-space" id="features">
        <div class="custom-container">
            <div class="row">
                <div class="col-12">
                    <div class="content-title">
                        <h2>3 in One</h2>
                        <h1>Application</h1>
                        <h5>Chitchat comes with unique features like light & dark layout, RTL Compatible,Live Customizer, Easy Video and Audio,100+ elements</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row landing-screen-animation">
                <div class="col-md-12 text-center">
                    <a href="" target="_blank">
                        <div class="pc-bg-1 three-img-1" style="background-image: url(../../../assets/home/Images/landing-page/features/features.jpg);"></div>
                        <h2 class="demo-title">Chat App</h2>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="mobile-version-sec section-py-space light-bg" *ngFor="let item of home.HomeInfo">
        <div class="custom-container">
            <div class="row">
                <div class="col-12">
                    <div class="content-title">
                        <h2>Mobile</h2>
                        <h1>Vesion Optimized</h1>
                        <h5>Chitchat comes with Dextop app and fully Mobile optimized.</h5>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-xs-12 mobile-display">
                    <div class="mobile-img">
                        <a target="_blank"><img class="img-fluid" src="../../../assets/Img/{{item.mobileImg}}" alt="Chitchat mobile version"></a>

                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="mobile-qr"><a class="btn btn-qr button-effect fonts font_label" href="#">Scan Now</a>
                        <p>Scan the Qr Code bellow to view a live demo on your mobile device</p>

                        <div class="qr-img"><img class="img-fluid" src="../../../assets/Img/{{item.qRcodeImg}}" alt="Chitchat mobile version"></div>

                    </div>
                </div>
                <div class="chitchat-back-block"><img class="img-fluid chit-chat1" src="../../../assets/home/Images/landing/chitchat/2.png" alt="chit-chat-back-img"><img class="img-fluid chit-chat2" src="../../../assets/home/Images/landing/chitchat/1.png" alt="chit-chat-back-img">
                    <img class="img-fluid chit-chat3" src="../../../assets/home/Images/landing/chitchat/3.png" alt="chit-chat-back-img"><img class="img-fluid chit-chat4" src="../../../assets/home/Images/landing/chitchat/3.png" alt="chit-chat-back-img"></div>
            </div>
        </div>
    </section>
    <section class="real-time-customizer section-py-space" *ngFor="let item of home.HomeInfo">
        <div class="custom-container">
            <div class="row">
                <div class="col-12">
                    <div class="content-title">
                        <h2>Customizer</h2>
                        <h1>Real Time Customizer</h1>
                        <h5>Chitchat comes with Live Cistomizer, Like color, Layout, Chat wallpaper, Theme ect...</h5>
                    </div><img class="img-fluid chit-chat5" src="../../.../../../assets/home/Images/landing/header/1.png" alt="inner1">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="customizer text-center">

                        <a target="_blank"><img class="img-fluid" src="../../../assets/Img/{{item.userCustamizerImg}}" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="tour-integrated section-py-space light-bg" *ngFor="let item of home.HomeInfo">
        <div class="custom-container">
            <div class="row">
                <div class="col-12">
                    <div class="content-title">
                        <h2>Tour</h2>
                        <h1>Tour Integrated</h1>
                        <h5>Chitchat comes with Tour Integrated. Like Profile Details, Darkmode,Logout,App,RTL and Live Customizer</h5>
                    </div>
                </div>
                <div class="col-12">
                    <div class="tour-integrated text-center">
                        <a href="messenger.html" target="_blank"><img class="img-fluid" src="../../../assets/home/Images/landing-page/tour-integrated/tour.gif" alt="chit"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="chitchat-back-block"><img class="img-fluid chit-chat1" src="../../../assets/home/Images/landing/chitchat/2.png" alt="chit-chat-back-img"><img class="img-fluid chit-chat2" src="../../../assets/home/Images/landing/chitchat/1.png" alt="chit-chat-back-img"><img class="img-fluid chit-chat3"
                src="../../../assets/home/Images/landing/chitchat/3.png" alt="chit-chat-back-img"></div>
    </section>
    <section class="rtl section-py-space light-bg" *ngFor="let item of home.HomeInfo">
        <div class="custom-container">
            <div class="row">
                <div class="col-12">
                    <div class="content-title">
                        <h2>RTL</h2>
                        <h1>RTL Layout</h1>
                        <h5>Chitchat comes with Very Useful feature Right To Left.</h5>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="rtl text-center">
                        <a target="_blank"><img class="img-fluid" src="../../../assets/Img/{{item.rtlImg}}" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="collaboration-main section-py-space" *ngFor="let item of home.HomeInfo">
        <div class="custom-container">
            <div class="row">
                <div class="col-12">
                    <div class="content-title">
                        <h2>4 Workable Apps</h2>
                        <h1>Put collaboration at your fingertips</h1>
                        <h5>Chitchat comes with Many Workable App like Todo List, Files, Notes and Reminder</h5>
                    </div><img class="img-fluid chit-chat5" src="../../../assets/home/Images/landing/header/1.png" alt="inner1">
                </div>
            </div>
        </div>
        <div class="custom-container">
            <div class="row">
                <div class="col-12">
                    <div class="collaboration-content">
                        <ul class="collab-tab nav nav-pills">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="pill" href="#tab2">
                                    <div class="tab-main">
                                        <div><i></i></div>
                                        <div class="tab-content">
                                            <h3>Files</h3>
                                            <p>Share and etc</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="pill" href="#tab3">
                                    <div class="tab-main">
                                        <div><i></i></div>
                                        <div class="tab-content">
                                            <h3>Note</h3>
                                            <p>Create Note</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="pill" href="#tab4">
                                    <div class="tab-main">
                                        <div><i></i></div>
                                        <div class="tab-content">
                                            <h3>Reminder</h3>
                                            <p>Set Reminder</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-detail">
                        <div class="tab-content">
                            <div class="tab-pane container active" id="tab2">
                                <a href="messenger.html" target="_blank">
                                    <div class="workable-app-img">
                                        <div class="workable-title">
                                            <div>
                                                <h1>Files</h1>
                                            </div>
                                        </div>
                                        <img class="img-fluid img-1" src="../../../assets/Img/{{item.filesImg}}" alt="">
                                        <img class="img-fluid img-2" src="./assets/home/Images/landing-page/workable-app/05.png" alt="">
                                    </div>
                                    <div class="workable-app-title">
                                        <h2>Files</h2>
                                    </div>
                                </a>
                            </div>
                            <div class="tab-pane container fade" id="tab3">
                                <a href="messenger.html" target="_blank">
                                    <div class="workable-app-img">

                                        <div class="workable-title">
                                            <div>
                                                <h1>Note</h1>
                                            </div>
                                        </div><img class="img-fluid img-1" src="../../../assets/Img/{{item.noteImg}}" alt=""><img class="img-fluid img-2" src="./assets/home/Images/landing-page/workable-app/05.png" alt="">
                                    </div>
                                    <div class="workable-app-title">
                                        <h2>Notes</h2>
                                    </div>
                                </a>
                            </div>
                            <div class="tab-pane container fade" id="tab4">
                                <a href="messenger.html" target="_blank">
                                    <div class="workable-app-img">

                                        <div class="workable-title">
                                            <div>
                                                <h1>Reminder</h1>
                                            </div>
                                        </div><img class="img-fluid img-1" src="../../../assets/Img/{{item.remiderImg}}" alt=""><img class="img-fluid img-2" src="./assets/home/Images/landing-page/workable-app/05.png" alt="">

                                    </div>
                                    <div class="workable-app-title">
                                        <h2>Reminder</h2>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="all_features section-py-space light-bg" *ngFor="let item of home.HomeInfo">
        <div class="custom-container">
            <div class="row">
                <div class="col-12">
                    <div class="content-title">
                        <h2>All Features</h2>
                        <h1>Taken care of all features</h1>
                        <h5>Chitchat comes with Many usefull features like, online, offline, Busy, read ect...</h5>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <a href="messenger.html" target="_blank">
                        <img class="img-fluid" src="../../../assets/Img/{{item.futcherImg}}" alt="tab-detail-img">
                    </a>

                </div>
            </div>
        </div>
    </section>
    <section class="dark-light section-py-space" *ngFor="let item of home.HomeInfo">
        <div class="custom-container">
            <div class="row">
                <div class="col-12">
                    <div class="content-title">
                        <h2>Dark & Light</h2>
                        <h1>Dark and Light Layout</h1>
                        <h5>Chitchat comes with Very Useful feature Dark mode and light mode and light mode</h5>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="dark-light text-center">
                        <a href="chat_blank.html" target="_blank"><img class="img-fluid" src="../../../assets/Img/{{item.darkLightImg}}" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="landing_popups section-py-space">
        <div class="svg_img2"><img class="img-fluid" src="../../../assets/home/Images/landing-page/bg-decore.png" alt="img"></div>
        <div><img class="img-fluid slicing-img-8" src="../../../assets/home/Images/landing-page/slicing/vector.png" alt="img"><img class="img-fluid slicing-img-9" src="../../../assets/home/Images/landing-page/slicing/vector1.png" alt="img"></div>
        <div class="custom-container">
            <div class="row">
                <div class="col-12">
                    <div class="content-title">
                        <h1>Messages</h1>
                        <h5>Chitchat comes, Meet Your friend</h5>
                    </div>
                </div>
            </div>
            <div class="row pb-4">
                <div class="col-12">
                    <div class="viddiolog modal fade show" id="videocallhang" tabindex="-1" role="dialog" style="display: block;">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-body">
                                <div class="videocallhang call-modal bg-size" data-toggle="modal" data-target="#videocall" data-dismiss="modal"><img class="bg-img img-fluid" src="../../../assets/home/Images/avtar/big/videocall_bg.jpg" alt="Avatar">
                                    <div class="media videocall-details">
                                        <div class="usersprof">
                                            <div class="profile bg-size"><img class="bg-img img-fluid" src="../../../assets/home/Images/avtar/2.jpg" alt="Avatar"></div>
                                            <div class="profile bg-size"><img class="bg-img img-fluid" src="../../../assets/home/Images/avtar/3.jpg" alt="Avatar"></div>
                                        </div>
                                        <div class="media-body">
                                            <h5>Josephin water</h5>
                                            <h6>America ,California</h6>
                                        </div>
                                        <div class="zoomcontent">
                                            <a class="text-dark" href="#!" onclick="javascript:toggleFullScreen()"><img class="img-fluid" src="../../../assets/home/Images/logo/maximize.svg" alt="zoom screen"></a>
                                        </div>
                                    </div>
                                    <div class="center-con text-center">
                                        <ul>
                                            <li><a class="icon-btn btn-success button-effect btn-xl is-animating" href="#" data-toggle="modal" data-target="#videocall" data-dismiss="modal"><i data-feather="phone"></i></a></li>
                                            <li><a class="icon-btn btn-danger button-effect btn-xl is-animating cancelcall" href="#" data-dismiss="modal"><i data-feather="phone"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="viddiolog modal fade show" id="videocall1" tabindex="-1" role="dialog">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-body">
                                <div class="videocall call-modal bg-size"><img class="bg-img img-fluid" src="../../../assets/home/Images/avtar/big/videocall_bg.jpg" alt="Avatar">
                                    <div class="small-image bg-size"><img class="bg-img img-fluid" src="../../../assets/home/Images/avtar/big/videocall.jpg" alt="Avatar"></div>
                                    <div class="media videocall-details">
                                        <div class="usersprof">
                                            <div class="profile bg-size"><img class="bg-img img-fluid" src="../../../assets/home/Images/avtar/2.jpg" alt="Avatar"></div>
                                            <div class="profile bg-size"><img class="bg-img img-fluid" src="../../../assets/home/Images/avtar/3.jpg" alt="Avatar"></div>
                                        </div>
                                        <div class="media-body">
                                            <h5>Josephin water</h5>
                                            <h6>America ,California</h6>
                                        </div>
                                        <div id="basicUsage">00:00:30</div>
                                        <div class="zoomcontent">
                                            <a class="text-dark" href="#!" onclick="javascript:toggleFullScreen()" data-tippy-content="Zoom Screen"><img class="img-fluid" src="../../../assets/home/Images/logo/maximize.svg" alt="zoom screen"></a>
                                        </div>
                                    </div>
                                    <div class="center-con text-center">
                                        <ul>
                                            <li><a class="icon-btn btn-light button-effect pause" href="#" data-tippy-content="Hold"><i class="ti-control-pause"></i></a></li>
                                            <li><a class="icon-btn btn-danger button-effect btn-xl is-animating" href="#" data-dismiss="modal" data-tippy-content="Hangup"><i data-feather="phone"></i></a></li>
                                            <li><a class="icon-btn btn-light button-effect mic" href="#" data-tippy-content="Mute"><i class="fa fa-microphone"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="text-center popup-group">
                        <button class="btn btn-primary fonts font_label" type="button" data-toggle="modal" data-target="#audiocall">Send Messages</button>
                        <!-- Modal-->
                        <div class="modal fade" id="audiocall" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-body">
                                    <div class="audiocall1 call-modal"><img class="bg-img" src="../../../assets/home/Images/avtar/big/audiocall.jpg" alt="Avatar">
                                        <div class="center-con text-center">
                                            <div class="title2">Josephin water</div>
                                            <h6>log angelina california</h6>
                                            <ul>
                                                <li><a class="icon-btn btn-success button-effect btn-xl is-animating" href="#"><i data-feather="phone"></i></a></li>
                                                <li><a class="icon-btn btn-danger button-effect btn-xl is-animating cancelcall" href="#"><i data-feather="phone"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="custom-dropdown add-chat custom-scroll">
                            <h3>Start new conversation</h3>
                            <ul class="contact-log-main">
                                <li>
                                    <div class="contact-box">
                                        <div class="profile offline"><img class="bg-img" src="../../../assets/home/Images/contact/2.jpg" alt="Avatar"></div>
                                        <div class="details">
                                            <h5>Jony Lynetin</h5>
                                            <h6>+21 3523 25544</h6>
                                        </div>
                                        <div class="contact-action">
                                            <div class="icon-btn btn-outline-primary btn-sm button-effect"><i data-feather="message-square"></i></div>
                                        </div>
                                    </div>
                                </li>
                                <li class="active">
                                    <div class="contact-box">
                                        <div class="profile online"><img class="bg-img" src="../../../assets/home/Images/contact/1.jpg" alt="Avatar"></div>
                                        <div class="details">
                                            <h5>Jony Lynetin</h5>
                                            <h6>+54 541447 255</h6>
                                        </div>
                                        <div class="contact-action">
                                            <div class="icon-btn btn-outline-primary btn-sm button-effect"><i data-feather="message-square"></i></div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="contact-box">
                                        <div class="profile busy"><img class="bg-img" src="../../../assets/home/Images/contact/3.jpg" alt="Avatar"></div>
                                        <div class="details">
                                            <h5>Jony Lynetin</h5>
                                            <h6>+58 2564 02554</h6>
                                        </div>
                                        <div class="contact-action">
                                            <div class="icon-btn btn-outline-primary btn-sm button-effect"><i data-feather="message-square"></i></div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="contact-box">
                                        <div class="profile unreachable"><img class="bg-img" src="../../../assets/home/Images/contact/4.jpg" alt="Avatar"></div>
                                        <div class="details">
                                            <h5>Jony Lynetin</h5>
                                            <h6>+44 55124 2524</h6>
                                        </div>
                                        <div class="contact-action">
                                            <div class="icon-btn btn-outline-primary btn-sm button-effect"><i data-feather="message-square"></i></div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="contact-box">
                                        <div class="profile online"><img class="bg-img" src="../../../assets/home/Images/contact/4.jpg" alt="Avatar"></div>
                                        <div class="details">
                                            <h5>Jony Lynetin</h5>
                                            <h6>+54 541447 255</h6>
                                        </div>
                                        <div class="contact-action">
                                            <div class="icon-btn btn-outline-primary btn-sm button-effect"><i data-feather="message-square"></i></div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <button class="btn btn-primary fonts font_label" type="button" data-toggle="modal" data-target="#audiorcvcall">Upload Images</button>
                        <!-- Modal-->
                        <div class="modal fade" id="audiorcvcall" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-body">
                                    <div class="audiocall2 call-modal"><img class="bg-img" src="../../../assets/home/Images/avtar/big/audiocall.jpg" alt="Avatar">
                                        <div class="center-con text-center">
                                            <div id="basicUsage2">00:00:00</div>
                                            <div class="title2">Josephin water</div>
                                            <h6>log angelina california</h6>
                                            <ul>
                                                <li><a class="icon-btn btn-light button-effect mute" href="#" data-tippy-content="Mute"><i class="fa fa-microphone"></i></a></li>
                                                <li><a class="icon-btn btn-light button-effect mute" href="#" data-tippy-content="Speaker"><i class="fa fa-volume-up"></i></a></li>
                                                <li><a class="icon-btn btn-danger button-effect btn-xl is-animating" href="#" data-tippy-content="Hangup" data-dismiss="modal"><i data-feather="phone"></i></a></li>
                                                <li><a class="icon-btn btn-light button-effect" href="#" data-tippy-content="Add Call"><i data-feather="user-plus"></i></a></li>
                                                <li><a class="icon-btn btn-light button-effect" href="#" data-tippy-content="Disable Video"><i data-feather="pause"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary fonts font_label" type="button" data-toggle="modal" data-target="#confercall">conference call</button>
                        <!-- Modal-->
                        <div class="modal fade" id="confercall" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-body">
                                    <div class="conferencecall call-modal"><img class="bg-img" src="../../../assets/home/Images/avtar/big/audiocall.jpg" alt="Avatar">
                                        <div class="center-con text-center">
                                            <div class="usersprof">
                                                <div class="profile"><img class="bg-img" src="../../../assets/home/Images/avtar/2.jpg" alt="Avatar"></div>
                                                <div class="profile"><img class="bg-img" src="../../../assets/home/Images/avtar/3.jpg" alt="Avatar"></div>
                                                <div class="profile"><img class="bg-img" src="../../../assets/home/Images/avtar/5.jpg" alt="Avatar"></div>
                                                <div class="profile"><img class="bg-img" src="../../../assets/home/Images/avtar/big/videocall_bg.jpg" alt="Avatar"></div>
                                            </div>
                                            <p>Incoming Call</p>
                                            <h3>Conference Call</h3>
                                            <ul>
                                                <li><a class="icon-btn btn-danger button-effect btn-xl is-animating cancelcall" href="#"><i data-feather="phone"></i></a></li>
                                                <li><a class="icon-btn btn-success button-effect btn-xl is-animating" href="#"><i data-feather="video"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary fonts font_label" type="button" data-toggle="modal" data-target="#onecall">One Person call</button>
                        <!-- Modal-->
                        <div class="modal fade" id="onecall" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-body">
                                    <div class="conferencecall call-modal"><img class="bg-img" src="../../../assets/home/Images/avtar/big/audiocall.jpg" alt="Avatar">
                                        <div class="center-con text-center">
                                            <div class="usersprof">
                                                <div class="profile"><img class="bg-img" src="../../../assets/home/Images/avtar/big/videocall_bg.jpg" alt="Avatar"></div>
                                            </div>
                                            <p>Incoming Call</p>
                                            <h3>Jack p angulo</h3>
                                            <p>Product Manager</p>
                                            <ul>
                                                <li><a class="icon-btn btn-danger button-effect btn-xl is-animating cancelcall" href="#"><i data-feather="phone"></i></a></li>
                                                <li><a class="icon-btn btn-success button-effect btn-xl is-animating" href="#"><i data-feather="video"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary fonts font_label" type="button" data-toggle="modal" data-target="#nointernetmodal">No Internet</button>
                        <!-- Modal-->
                        <div class="modal fade" id="nointernetmodal" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-body">
                                    <div class="no-internet animat-rate">
                                        <div class="connection-img"><img class="left-img" src="../../../assets/home/Images/disconnect/3.png" alt="Disconnected"><img class="right-img" src="../../../assets/home/Images/disconnect/2.png" alt="Disconnected internet"></div>
                                        <div class="quarterCircle">
                                            <div class="close-btn" data-dismiss="modal"><span aria-hidden="true">&times;</span></div>
                                        </div>
                                        <div class="bg_circle">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                        <div class="cross"></div>
                                        <div class="cross1"></div>
                                        <div class="dot"></div>
                                        <div class="dot1"></div>
                                        <div class="content text-center"><a class="icon-btn btn-danger button-effect btn-sm is-animating" href="#"><i class="fa fa-wifi"></i></a>
                                            <h5>Internet issue</h5>
                                            <div class="title2">Disconnected</div>
                                            <button class="btn reconnect-btn" type="button" data-dismiss="modal">Reconnect</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary fonts font_label" type="button" data-toggle="modal" data-target="#videocall">video call</button>
                        <!-- Modal-->
                        <div class="viddiolog modal fade" id="videocall" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-body">
                                    <div class="videocall call-modal"><img class="bg-img" src="../../../assets/home/Images/avtar/big/videocall_bg.jpg" alt="Avatar">
                                        <div class="small-image"><img class="bg-img" src="../../../assets/home/Images/avtar/big/videocall.jpg" alt="Avatar"></div>
                                        <div class="media videocall-details">
                                            <div class="usersprof">
                                                <div class="profile"><img class="bg-img" src="../../../assets/home/Images/avtar/2.jpg" alt="Avatar"></div>
                                                <div class="profile"><img class="bg-img" src="../../../assets/home/Images/avtar/3.jpg" alt="Avatar"></div>
                                            </div>
                                            <div class="media-body">
                                                <h5>Josephin water</h5>
                                                <h6>America ,California</h6>
                                            </div>
                                            <div id="basicUsage1">00:00:00</div>
                                            <div class="zoomcontent">
                                                <a class="text-dark" href="#!" onclick="javascript:toggleFullScreen()"><img src="../../../assets/home/Images/logo/maximize.svg" alt="zoom screen"></a>
                                            </div>
                                        </div>
                                        <div class="center-con text-center">
                                            <ul>
                                                <li><a class="icon-btn btn-light button-effect pause" href="#"><i class="ti-control-pause"></i></a></li>
                                                <li><a class="icon-btn btn-danger button-effect btn-xl is-animating" href="#"><i data-feather="phone"></i></a></li>
                                                <li><a class="icon-btn btn-light button-effect mic" href="#"><i class="fa fa-microphone"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary fonts font_label" type="button" data-toggle="modal" data-target="#confvideocl">video call conference</button>
                        <!-- Modal-->
                        <div class="modal fade" id="confvideocl" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <div class="row confimg">
                                            <div class="col-6">
                                                <div class="vclimg"><img class="bg-img" src="../../../assets/home/Images/avtar/big/videocall_bg.jpg" alt="Avatar"></div>
                                            </div>
                                            <div class="col-6">
                                                <div class="vclimg"><img class="bg-img" src="../../../assets/home/Images/avtar/5.jpg" alt="Avatar"></div>
                                            </div>
                                            <div class="col-6">
                                                <div class="vclimg"><img class="bg-img" src="../../../assets/home/Images/avtar/2.jpg" alt="Avatar"></div>
                                            </div>
                                            <div class="col-6">
                                                <div class="vclimg"><img class="bg-img" src="../../../assets/home/Images/avtar/3.jpg" alt="Avatar"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer clfooter">
                                        <div id="basicUsage3">00:00:00
                                            <ul>
                                                <li><a class="icon-btn btn-light button-effect" href="#" data-tippy-content="speaker"><i data-feather="volume-2"></i></a></li>
                                                <li><a class="icon-btn btn-light button-effect" href="#" data-tippy-content="Camera"><i data-feather="camera-off"></i></a></li>
                                                <li><a class="icon-btn btn-light button-effect" href="#" data-tippy-content="Add Call"><i data-feather="user-plus"></i></a></li>
                                                <li><a class="icon-btn btn-danger button-effect btn-sm is-animating" href="#" data-dismiss="modal" data-tippy-content="Hangup"><i data-feather="phone"></i></a></li>
                                                <li><a class="icon-btn btn-light button-effect" href="#" data-tippy-content="Disable Video"><i data-feather="video-off"></i></a></li>
                                                <li><a class="icon-btn btn-light button-effect mic" href="#" data-tippy-content="Mute"><i data-feather="mic-off"></i></a></li>
                                                <li><a class="icon-btn btn-light button-effect" href="#" data-tippy-content="Hold"><i data-feather="pause"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="easy-navigation section-py-space" *ngFor="let item of home.HomeInfo">
        <div class="custom-container">
            <div class="row">
                <div class="col-12">
                    <div class="content-title">
                        <h2>Easy</h2>
                        <h1>Navigation Chat</h1>
                        <h5>Chitchat comes with East Navigation Chat like Call histort, Contact And Many Sticker and awesome Emoji with GIF and ect...</h5>
                    </div><img class="img-fluid chit-chat5" src="../../../assets/home/Images/landing/header/1.png" alt="inner1">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row mb-5">
                <div class="col-lg-5 col-md-6 navigation-1">
                    <div class="inner-block">
                        <div>
                            <h4 class="mb-3">Send Sticker & Emoji</h4>
                            <p class="mb-3">Chitchat comes with Many Sticker and awesome Emoji with GIF,Easy Navigation Chat like Call histort, Contact and View Status and ect...</p><a class="btn btn-primary" href="messenger.html" target="_blank">View Demo</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-md-6 navigation-2">
                    <div class="exclusive-image text-right"><img class="img-fluid" src="../../../assets/Img/{{item.sendStickerImg}}" alt="tab-detail-img"></div>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-lg-7 col-md-6 navigation-3">
                    <div class="exclusive-image text-right"><img class="img-fluid" src="../../../assets/Img/{{item.chatHistoryContactImg}}" alt=""></div>
                </div>
                <div class="col-lg-5 col-md-6 navigation-4">
                    <div class="inner-block">
                        <div>
                            <h4 class="mb-3">Chat,History & Contact</h4>
                            <p class="mb-3">Chitchat comes with Many Sticker and awesome Emoji with GIF,Easy Navigation Chat like Call histort, Contact and View Status and ect...</p><a class="btn btn-primary mr-2" href="messenger.html" target="_blank">View Demo</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-md-6 navigation-5">
                    <div class="inner-block">
                        <div>
                            <h4 class="mb-3">View Status</h4>
                            <p class="mb-3">Chitchat comes with Many Sticker and awesome Emoji with GIF,Easy Navigation Chat like Call histort, Contact and View Status and ect...</p><a class="btn btn-primary mr-2" href="messenger.html" target="_blank">View Demo</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-md-6 navigation-6">
                    <div class="exclusive-image text-right"><img class="img-fluid" src="../../../assets/Img/{{item.viewStatusImg}}" alt="tab-detail-img"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="rate-us section-py-space">
        <div class="custom-container">
            <div class="row">
                <div class="col-12 mx-auto text-center">
                    <div class="rate_us-section"><img class="img-fluid" src="../../../assets/home/Images/logo/landing-logo.png" alt="logo"></div>
                </div>
            </div>
        </div>

    </section>
    <app-testimonial></app-testimonial>
    <app-footer></app-footer>
    <!-- tap to top start //-->

    <!-- tap to top end //-->
</div>