<router-outlet></router-outlet>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="large" color="#fff" [fullScreen]="true">
    <img src="../assets/home/Images/logo/landing-logo.png" style="position: relative; margin-bottom: 50%; left: 50%;">
    <!-- <div class="spinner-bg-color">
        <div class="center font-weight-bold">
            <div class="ring"></div>
            <span class="text-white">
                <img src="../assets/home/Images/logo/landing-logo-logo.png" width="82" height="82" />
            </span>
        </div>
    </div> -->
    <!-- <p style="color: white; font-size: xx-large;"> Loading... </p> -->
</ngx-spinner>