<div class="layout overflow-hidden">
    <!-- Navigation -->
    <app-navbar></app-navbar>
    <!-- Navigation -->

    <aside class="sidebar bg-light">
        <div class="h-100" role="">
                <!-- Notifications - Notices -->
                <div class="h-100" id="tab-content-notifications" role="tabpanel">
                    <div class="d-flex flex-column h-100">
                        <div class="hide-scrollbar">
                            <div class="container py-8">
        
                                <!-- Title -->
                                <div class="mb-8">
                                    <h2 class="fw-bold m-0">Notifications</h2>
                                </div>
        
                                <!-- Search -->
                                <div class="mb-6">
                                    <form action="#">
                                        <div class="input-group">
                                            <div class="input-group-text">
                                                <div class="icon icon-lg">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
                                                </div>
                                            </div>
        
                                            <input type="text" class="form-control form-control-lg ps-0" placeholder="Search messages or users" aria-label="Search for messages or users...">
                                        </div>
                                    </form>
                                </div>
        
                                <!-- Today -->
                                <div class="card-list">
                                    <!-- Title -->
                                    <div class="d-flex align-items-center my-4 px-6">
                                        <small class="text-muted me-auto">Today</small>
        
                                        <a class="text-muted small">Clear all</a>
                                    </div>
                                    <!-- Title -->
        
                                    <!-- Card -->
                                    <hr/>
                                    <p>Friendship requests</p>
                                    <div *ngIf="this.chat.lopy.length>0">
                                        <div class="card border-0 mb-5" *ngFor="let item of this.chat.lopy">
                                        <div class="card-body" (click)="UserProfile(item.user.userId)">
        
                                            <div class="row gx-5">
                                                <div class="col-auto">
                                                    <!-- Avatar -->
                                                    <a href="#" class="avatar">
                                                        <img class="avatar-img" [ngClass]="item.user.isActive==1?' avatar-online':''" src="../../../assets/Img/{{item.user.proFileImg}}" alt="">
                                                        <!-- <div class="badge badge-circle bg-primary border-outline position-absolute bottom-0 end-0">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                                                        </div> -->
                                                    </a>
                                                </div>
        
                                                <div class="col" >
                                                    <div class="d-flex align-items-center mb-2">
                                                        <h5 class="me-auto mb-0">
                                                            <a>{{item.user.fname}} {{item.user.lname}}</a>
                                                        </h5>
                                                        <span class="text-muted ms-2">{{item.adddate|date:'mediumDate'}}</span>
                                                    </div>
        
                                                    <div class="d-flex">
                                                        <div class="me-auto">Send you a friend request.</div>
        
                                                        <div class="dropdown ms-5">
                                                            <a class="icon text-muted" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>
                                                            </a>
                                                            <ul class="dropdown-menu">
                                                                <li><a class="dropdown-item" href="#">Show less often</a></li>
                                                                <li><a class="dropdown-item" href="#">Hide</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
        
                                        <div class="card-footer">
                                            <div class="row gx-4">
                                                <div class="col">
                                                    <a class="btn btn-sm btn-soft-danger w-100" (click)="RejectFriend(item.frindid)">Reject</a>
                                                </div>
                                                <div class="col">
                                                    <a class="btn btn-sm btn-primary w-100" (click)="AcceptFriend(item)"> Accept</a>
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                    <!-- Card -->

                                    <!-- userBlocked -->
                                    <hr/>
                                    <p>friends Bolcked</p>
                                    <!-- Card -->
                                    <div *ngIf="this.chat.blockFriend.length>0">
                                        <div class="card border-0 mb-5" *ngFor="let item of this.chat.blockFriend">
                                        <div class="card-body" (click)="UserProfile(item.user.userId)">
        
                                            <div class="row gx-5">
                                                <div class="col-auto">
                                                    <!-- Avatar -->
                                                    <a class="avatar">
                                                        <img class="avatar-img" src="../../../assets/Img/{{item.user.proFileImg}}" alt="">
                                                    </a>
                                                </div>
        
                                                <div class="col" >
                                                    <div class="d-flex align-items-center mb-2">
                                                        <h5 class="me-auto mb-0">
                                                            <a>{{item.user.fname}} {{item.user.lname}}</a>
                                                        </h5>
                                                        <span class="text-muted ms-2">{{item.adddate|date:'mediumDate'}}</span>
                                                    </div>
        
                                                    <div class="d-flex">
                                                        <div class="me-auto">your friend Is Bolcked.</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
        
                                        <div class="card-footer">
                                            <div class="row gx-4">
                                                <div class="col">
                                                    <a class="btn btn-sm btn-primary w-100" (click)="UnBlock(item.frindid)"> UnBlock</a>
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                    <!-- Card -->
                                </div>
                                <!-- Today -->
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </aside>
        
        
         <!-- Chat -->
                    
         <main class="main" [ngClass]="this.chat.collapse  ? 'is-visible' : ''" data-dropzone>
            <div class="container h-100">
                <app-chatempty *ngIf="this.chat.id==0" ></app-chatempty>
                <app-chat-with-message *ngIf="this.chat.id!=0"></app-chat-with-message>        
            </div>
        </main>
        
        <!-- Chat -->
        
</div>
        <!-- Layout -->

        <ng-template #userProfileDialog >
            <!-- Modal: User profile -->
            <div class="modal-body py-0">
                            <!-- Header -->
                            <div class="profile modal-gx-n">
                                <div class="profile-img text-primary rounded-top-xl">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 400 140.74">
                                        <defs>
                                            <style>
                                                .cls-2 {
                                                    fill: #fff;
                                                    opacity: 0.1;
                                                }
                                            </style>
                                        </defs>
                                        <g>
                                            <g>
                                                <path d="M400,125A1278.49,1278.49,0,0,1,0,125V0H400Z" />
                                                <path class="cls-2"
                                                    d="M361.13,128c.07.83.15,1.65.27,2.46h0Q380.73,128,400,125V87l-1,0a38,38,0,0,0-38,38c0,.86,0,1.71.09,2.55C361.11,127.72,361.12,127.88,361.13,128Z" />
                                                <path class="cls-2"
                                                    d="M12.14,119.53c.07.79.15,1.57.26,2.34v0c.13.84.28,1.66.46,2.48l.07.3c.18.8.39,1.59.62,2.37h0q33.09,4.88,66.36,8,.58-1,1.09-2l.09-.18a36.35,36.35,0,0,0,1.81-4.24l.08-.24q.33-.94.6-1.9l.12-.41a36.26,36.26,0,0,0,.91-4.42c0-.19,0-.37.07-.56q.11-.86.18-1.73c0-.21,0-.42,0-.63,0-.75.08-1.51.08-2.28a36.5,36.5,0,0,0-73,0c0,.83,0,1.64.09,2.45C12.1,119.15,12.12,119.34,12.14,119.53Z" />
                                                <circle class="cls-2" cx="94.5" cy="57.5" r="22.5" />
                                                <path class="cls-2" d="M276,0a43,43,0,0,0,43,43A43,43,0,0,0,362,0Z" />
                                            </g>
                                        </g>
                                    </svg>
        
                                    <div class="position-absolute top-0 start-0 p-5">
                                        <button type="button" class="btn-close btn-close-white btn-close-arrow opacity-100" (click)="CloseDialog()"
                                            data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                </div>
        
                                <div class="profile-body">
                                    <div class="avatar avatar-xl">
                                        <img class="avatar-img"
                                            src="../../../assets/Img/{{this.chat.userProfile[0].proFileImg}}"
                                            width="100%" height="100%" alt="#">
        
                                    </div>
        
                                    <h4 class="mb-1">{{this.chat.userProfile[0].fname}}
                                        {{this.chat.userProfile[0].lname}}
                                    <br/>
                                    <p *ngIf="this.chat.userProfile[0].isActive==1">onLine</p>
                                    <p *ngIf="this.chat.userProfile[0].isActive==0">offLine</p>
                                    </h4>
        
                                </div>
                            </div>
                            <!-- Header -->
        
                            <hr class="hr-bold modal-gx-n my-0">
        
                            <!-- List -->
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <div class="row align-items-center gx-6">
                                        <div class="col">
                                            <h5>User Name</h5>
                                            <p>{{this.chat.userProfile[0].userName}}</p>
                                        </div>
                                    </div>
                                </li>
        
                                <li class="list-group-item">
                                    <div class="row align-items-center gx-6">
                                        <div class="col">
                                            <h5>User Bio</h5>
                                            <p>{{this.chat.userProfile[0].userBio}}</p>
                                        </div>
                                    </div>
        
                                </li>
                            </ul>
                            <!-- </div>
                            </div> -->
        
                            <!-- List -->
        
                            <hr class="hr-bold modal-gx-n my-0">
        
                            <!-- List -->
                            <ul class="list-group list-group-flush">
                                <!-- <li class="list-group-item">
                            <div class="row align-items-center gx-6">
                                <div class="col">
                                    <h5>Notifications</h5>
                                    <p>Enable sound notifications</p>
                                </div> -->
                                <li class="list-group-item">
                                    <div class="row align-items-center gx-6">
                                        <div class="col">
                                            <h5>Gender</h5>
                                            <p>{{this.chat.userProfile[0].gender}}</p>
                                        </div>
                                    </div>
        
        
                                </li>
                            </ul>
                            <!-- List -->
        
                            <!-- <hr class="hr-bold modal-gx-n my-0"> -->
        
                            <!-- List -->
                            <!-- <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <a href="#" class="text-reset">Send Message</a>
                                </li>
        
                                <li class="list-group-item">
                                    <a href="#" class="text-danger">Block User</a>
                                </li>
                            </ul> -->
                            <!-- List -->
            </div>
        </ng-template>
        

        